<% title "Recommend a Book" %>

<% content_for( :sidebar ) do %>
<h3>Recommended</h3>
<%= link_to "See All Recommendations", recommendations_path %>
<% end %>

<% if current_user %>
<%= render 'form' %>
<% else %>
<p>You need to <%= link_to 'log in', new_user_session_path %> to make a recommendation.</p>
<% end %>


