<% title "Recommend a Book" %>

<% content_for( :sidebar ) do %>
<h3>Recent</h3>
<div class="latestRecommendations">
<% Recommendation.latest.each do |recommendation| %>
  <div class="bookTile"><%= link_to image_tag( recommendation.image_url, :width => 55 ), 
    recommendations_path( :anchor => "recommendation#{recommendation.id}" ) %></div>
<% end %>
<br class="clear" />
<p><%= link_to "See All Recommendations", recommendations_path %></p>
</div>
<% end %>

<% if current_user %>
<%= render 'form' %>
<% else %>
<p>You need to <%= link_to 'log in', new_user_session_path %> to make a recommendation.</p>
<% end %>


