<h1>Welcome!</h1>

<p>/usr/lib is a community technology library, coworking hangout and meetup venue located in downtown 
Las Vegas on the second floor of the <a href="http://www.emergencyartslv.com/">Emergency Arts</a> building.
</p>

<p>To use our facilities, you'll need to apply to become a <%= link_to 'member', new_member_path %> and wait for
  your card to be printed (usually takes a few days). Membership costs $25 per year.</p>
  
<%= content_for :sidebar do %>
Hello
<% end %>