%h1 /usr/lib Meeting Room Reservation Policy

%ul
  %li 
    Reservations will be reviewed by library staff.
    %ul
      %li Same day reservations are not accepted.
      %li Limit of 1 reservation per member on any calendar day.
      %li Reservations are limited to 3 hours to maximize access for all users unless pre-approved by /usr/lib board.
      %li Limit of 2 days per month, unless pre-approval by /usr/lib board.
      %li Reservations must include set up and take down time.
      %li /usr/lib sponsored programs are given preference in scheduling over all other meetings and events.
      %li Highest priority to events are meetings, educational seminars about technologies, or start-up company information sessions.
      %li In the case of meetings and events that are not sponsored by the library, scheduling of the meeting rooms will be given on  first-come, first-served basis.
  %li
    Restrictions
    %ul
      %li Meeting room is available only during The Beat's business hours.
      %li Events may not include any activities such as public indecency (take it to the Spearmint Rhino), disorderly conduct, gambling (really? the El Cortez is just across the street!), or bodily harm.
      %li Meeting room may not be used for purposes that are primarily social including, but not limited to, mixers, parties, showers, reunions, etc.
      %li 
        Room may not be used for sectarian, religious, political, or partisan meetings.
        %ul
          %li Politics exception: educational seminars about a bill directly related to technology (ex. SOPA / PIPA explanation)
      %li
        Room use:
        %ul
          %li The member who reserved the room must be present while the room is in use.
          %li Meeting room reservations are not transferable from one group to another.
          %li Attendance at events will be limited to the capacity of the meeting room, 40 people.
      %li
        Cancellation:
        %ul
          %li If an organization or group needs to cancel a reservation, it should notify /usr/lib a minimum of 24 hours in advance.
          %li /usr/lib reserves the right to cancel and reschedule any meeting by giving 1 week advance notice before the meeting.
          %li Permission previously granted to a group, organization or individual to use the meeting room may be cancelled at any time.
          %li /usr/lib reserves the right to deny future access to /usr/lib facilities to any group or individual which fails to comply with all policies.
      %li Here is an ascii art mouse: &lt;:3 )~~~~
      %li Policies are subject to change without notice.