<% color 'blue' %>
<pre class="invert" style="font-weight: bold">
    __               __   _                    
   / /   _ ___ _ __ / /__| |__   __ _ _ __ ___ 
  / / | | / __| '__/ / __| '_ \ / _` | '__/ _ \
 / /| |_| \__ \ | / /\__ \ | | | (_| | | |  __/
/_/  \__,_|___/_|/_/ |___/_| |_|\__,_|_|  \___|

</pre>

<p>/usr/share is the software that powers /usr/lib. The hope is that soon it can be used to power other libraries, coworking
  spaces, hackerspaces and meetup venues.</p>

<p>
  <a href="https://github.com/makenai/usr-share">fork it on github!</a>
</p>
