<% title '/usr/share' %>

<p>/usr/share is an open source software package written to power community libraries, coworking spaces, meetup venues and hackerspaces.</p>

<a href="https://github.com/makenai/usr-share">fork it on github!</a>