<h1>Search Resutls</h1>

<%= "#{@search.total} related items found" %>


<% for row_result in @search.results %>
  <% if row_result.class.name == 'Media' %>
    <p><%= link_to row_result.title, media_path(row_result) %></p>

  <% end %>
<% end %>