<p><%= @media.size %> items</p>
<table id="inventory">
<% @media.sort { |a,b| a.label.join(' ') <=> b.label.join(' ') }.each do |media| %>
<tr>
  <td><%= media.title.truncate(75) %></td>
  <td><%= media.label.join(' ') %></td>
  <td>
    <% if media.subcategory %>
      <%= category_label( media.subcategory.category ) %>
    <% end %>
  </td>
</tr>
<% end %>
</table>