body {
  font-family: adelle,serif;
  font-size: 14px;
}

h1, h2, h3, h4, label {
  font-family: franklin-gothic-urw,sans-serif;
  font-weight: bold;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4, label { font-size: 18px; }

label {
  margin: 0;
  padding: 0;
}

hr {
  margin: 3px 0;  
  padding: 0;
  height: 12px;
  background: url('stripes.png') #000;
  border: none;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#content {
  position: relative;
}

#sidebar {
  color: #FFF;
  font-family: franklin-gothic-urw,sans-serif;  
  background-color: #000;
  min-height: 200px;
  h1, h2, h3, h4 { color: white; text-transform: uppercase; }
  a { color: white }
}

#sidebar {
  ul { margin: 0; padding: 0; }
  li { margin-left: 16px; padding: 0; }
}

#sidebar-container {
  padding: 10px;
}

.clear { clear:both; }
.left {float:left !important;}
.right {float:right !important;}

.admin {
  font-size: 16px;
  font-family: franklin-gothic-urw,sans-serif;
  color: #6d00f0;
  a {
    color: #6d00f0;
    text-decoration: underline;
  }
}

input, select { 
  font-size: 16px !important;
  font-family: franklin-gothic-urw,sans-serif !important;  
}

