#calendar table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

#calendar td,
#calendar th {
  font-family: franklin-gothic-urw,sans-serif;
  padding: 6px;
  border: 1px solid #000;
}

#calendar th {
  font-size: 16px;
  font-weight: bold;  
  text-transform: uppercase;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 110px;
  vertical-align: top;
  font-size: 14px;
}

#calendar .notmonth {
  color: #CCC;
}

#date {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#date a, #date a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #DDD;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

#calendarBar {
    text-align: right;
    font-family: franklin-gothic-urw,sans-serif;
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#calendar .event { color: #000; background:#86a9bb; padding: 2px; margin: 1px; opacity:0.90; }
#calendar .event .time { font-size: 12px; text-align: center; color: white; background-color: #63a1c2; }


/* -- WeeklyBuilder -- */

/* layout */
.week{background:#FFF;width:100%;height:100%;border:1px solid black;overflow:hidden;font-family: franklin-gothic-urw,sans-serif;font-size:14px;}
.days{float:left;width:15%;font-size: 16px;}
.hours{width:85%;float:right;overflow:auto;}
.grid{background-image:url(/assets/grid.png);background-attachment:inherit;width:1350px;}

/* boxes */
.header_row{width:1350px;height:54px;background:#368dbb;margin-bottom:1px;color:white;font-size: 16px;}
.header_box{height:36px;width:55px;border-right:1px solid #cfe6ec;padding:17px 1px 0px 18px;float:left;}
.hour{height:50px;width:55px;padding:25px 0px 0px 20px;float:left;}
.day{height:57px;border-right:1px solid #8F8F8F;border-top:1px solid #ccc;padding:17px 0px 0px 18px;}
.placeholder{height:39px;border-top:1px solid #fff;border-right:1px solid #ccc;padding:15px 0px 0px 18px;}
.day_row{width:1350px;height:75px;position:relative;}
.day_row .week_event{background:#86a9bb;float:left;position:absolute;height:66px;color:#000;padding:4px;border-left:4px solid #5196bb;opacity:0.90;filter:alpha(opacity=90);cursor:pointer;margin-top:1px; overflow:hidden; }
.day_row .week_event a{color:#000;}
.day_row .week_event:hover{background:#a0b2bb;}
.day_row .click_hour{height:57px;width:55px;border-right:1px solid #cfe6ec;padding:17px 1px 0px 18px;float:left;}
.day_row .click_hour a{color:#000;}
.day_row .click_hour:hover{background:#C7F980;}

/* 24-hour calendar view */
.full_day_row{width:1800px;height:75px;position:relative;}
.full_day_row .week_event{background:#CD8AA4;float:left;position:absolute;height:66px;color:#000;padding:4px;border-left:4px solid #5A484F;opacity:0.90;filter:alpha(opacity=90);cursor:pointer;margin-top:1px;}
.full_day_row .week_event a{color:#000;}
.full_day_row .week_event:hover{background:#E097B3;}
.full_header_row{width:1800px;height:54px;background:#A8CFDA;}
.full_grid{background-color:#FFEDCA;background-image:url(../images/grid.png);width:1800px;}
.full_day_row .click_hour{height:57px;width:55px;border-right:1px solid #cfe6ec;padding:17px 1px 0px 18px;float:left;}
.full_day_row .click_hour a{color:#000;}
.full_day_row .click_hour:hover{background:#C7F980;}