.media {
  width: 200px;
  height: 360px;
  display: block;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
}

#mediasearch {
}

span.label {
  background-color: white;
  width: 80px;
  text-align: center;
  display: block;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  border: 1px solid black;
}