#footer {
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.socialMedia {
  text-align: center;
}

.facebook {
  margin-top: -10px;
}

.ayloo {
  text-align: right;
}

#contact-link {
  position: absolute;
  top: 18px;
  right: 0;
}