#header {
  position: relative;
}

#header h1 {
  background-image: url('usrlib.png');
  display: block;
  width: 201px;
  height: 93px;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: -2000px;
}

#header h1 a {
  display: block;
  width: 201px;
  height: 93px;
}

#header #signup {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 300px;
  text-align: right;
  font-style: italic;
  font-size: 12px;
  a {
    font-family: franklin-gothic-urw,sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 0 2px;
  }
}