#menu {
}

#menu ul {
  font-family: franklin-gothic-urw,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0 auto;  
  width: 100%;
}

#menu ul li {
  display: block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

#menu ul li a {
  background-color: black;
  display: block;
  color: white;
  width: 100%;
  padding: 0.6em;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;  
}

#menu li.last a {
  border-right: none;
}

#menu ul.bottom a {
  border-bottom: none;
}

#menu>ul li a { width: auto; }