<h2>Oh noes!</h2>
<p>
  Sorry, we are currently not accepting new members. More exciting information soon! If you'd like to be notified when that happens, please leave your email address and we'll drop you a note!
</p>
<p>
  (FYI: You do not need to have a membership card in order to attend an event at /usr/lib!)
</p>

<p>If you have any questions, please use our handy <%= link_to 'contact form', contact_path %>. Thanks!</p>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFhrbktGNVlaWGlwUldkQ1FKblAxeGc6MQ" width="760" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>