<% title "Member" %>

<p>
  <strong>User:</strong>
  <%= @member.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_member_path(@member) %> |
  <%= link_to "Destroy", @member, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", members_path %>
</p>
